.wrap-input{
    .text-input{
        width: 100%;
        margin-bottom: 15px;
        margin-top: 5px;
        border-radius: 5px;
        height: 40px;
        border: none;
        display: block;
        outline: none;
    }
}