body{
    padding: 50px 0;
}
form{
    background-color: lightblue;
    box-sizing: border-box;
    width: 450px;
    height: 700px;
    padding: 20px 30px;
    margin: auto;
}
span{
    color: red;
    display: none;
    transform: translateY(-15px);
}

input:invalid[focused="true"]~span{
    display: block;
}